/* CSS Styling for the entire app */

* {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 0;
    margin: 0;
}

html, body, #root, .portfolio-app, .app-header {
    height: 100%;
}

.app-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.header-block {
    height: 140px;
    background-color: rgb(68, 68, 68);
}

.app-navigator {
    background-color: rgb(100, 100, 100);
    height: 100%;
    width: 100%;
}

.app-footer {
    height: 60px;
    width: 100%;
    background-color: rgb(68, 68, 68);
    text-align: center;
}

